<footer class="footer">
  <div class="footer__inner">
    <div class="footer__item">
      <a
        class="footer__address"
        href="https://example.com/address"
        title="Our Adress"
        >3rd Floor, Santa Monica Beach, CA, San Francisco</a
      >
    </div>
    <div class="footer__item">
      <a class="footer__phone" href="tel:+3590123456789" title="Call Us">
        (359) 0 123 456 789,</a
      >
      <a class="footer__mail" href="mailto:info@yourmail.com" title="Send Us"
        >info@yourmail.com</a
      >
    </div>
  </div>
  <div class="footer__credits">
    <p class="footer__credits-text">Copyright 2024 - All right Reserved</p>
  </div>
</footer>
