<header class="header">
  <div class="container">
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="header__menu-link" href="">WORKS</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="">ABOUT</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="">SERVICES</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="">GALLERY</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="">CONTACT</a>
        </li>
      </ul>
      <!-- Burger -->
      <button class="header__burger" aria-label="Toggle menu">
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
      </button>
      <ul class="header__mobile-menu">
        <li class="header__mobile-menu-item">
          <a class="header__mobile-menu-link" data-id="works">WORKS</a>
        </li>
        <li class="header__mobile-menu-item">
          <a class="header__mobile-menu-link" data-id="about">ABOUT</a>
        </li>
        <li class="header__mobile-menu-item">
          <a class="header__mobile-menu-link" data-id="services">SERVICES</a>
        </li>
        <li class="header__mobile-menu-item">
          <a class="header__mobile-menu-link" data-id="gallery">GALLERY</a>
        </li>
        <li class="header__mobile-menu-item">
          <a class="header__mobile-menu-link" data-id="contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
